<div class="posts-navigation">
  <span class="posts-navigation-tag"> All </span>
  {{#each tags}}
    <span class="posts-navigation-tag" data-name="{{this}}"> {{this}} </span>
  {{/each}}
</div>
<section class="posts-list">
  {{#each posts}}
  <div class="posts-list-item" data-tags="{{tags}}">
    <div>
      <a href={{url}} target="_blank">
      {{#if thumbnail}}
        <img class="posts-list-item-image" src={{thumbnail}} />
      {{/if}}
      </a>

    </div>
    <div class="posts-list-item-content">
      {{#if date}}
        <time class="posts-list-item-date">{{date}}</time>
      {{/if}}
      <h3 class='posts-list-item-title'>
        <a href={{url}} target="_blank">{{title}}</a>
      </h3>
      <p class='posts-list-item-subtitle'>{{subtitle}}</p>
      {{#if tags}}
      <div class='posts-list-item-tags'>
        {{#each tags}}
          <span class="posts-navigation-tag" data-name="{{this}}"> {{this}} </span>
        {{/each}}
      </div>
      {{/if}}
      <div class="post-links">
        {{>post-links links=links}}
      </div>
    </div>
  </div>
  {{/each}}
</section>

<script>
  (function () {
    var allNavigationTags = document.querySelectorAll('.posts-navigation-tag')
    allNavigationTags.forEach(tag => tag.addEventListener('click', navigationTagClickListener))

    var allPosts = Array.from(document.querySelectorAll('.posts-list-item'))

    function navigationTagClickListener (e) {
      var tagName = e.target.dataset.name
      queueFilterPost(tagName || null)
    }

    function playHideAnim (posts, cb) {
      posts.forEach(post => {
        post.style.opacity = 0;
        post.style.maxHeight = 0;
        post.style.margin = 0;
        post.style.overflow = 'hidden';
      })
      setTimeout(cb, 500)
    }

    function playShowAnim (posts, cb) {
      posts.forEach(post => {
        post.style.opacity = 1;
        post.style.maxHeight = '';
        post.style.margin = '';
      })
      setTimeout(cb, 500)
    }

    var filterQueue = []
    var filtering = false

    function queueFilterPost (tag) {
      filterQueue.push(tag)
      if (filtering) return
      runNextFilterQueueTask()
    }

    function runNextFilterQueueTask () {
      const nextTag = filterQueue.shift()
      if (nextTag === undefined) {
        filtering = false
        return
      }
      filtering = true
      filterPostsWithTag(nextTag, function () {
        runNextFilterQueueTask()
      })
    }

    function filterPostsWithTag (tag, cb) {
      var postsToShow = tag
        ? allPosts.filter(function (post) {
          var tags = (post.dataset.tags || '').split(',')
          return tags.includes(tag)
        }) : allPosts

      playHideAnim(allPosts, function () {
        playShowAnim(postsToShow, cb)
      })
    }
  })()
</script>